/*#donut {
  width: 29rem;
  height: 29rem;
  margin: 0 auto;
}*/

path.color0 {
  fill: #1072b8;
}

path.color1 {
  fill: #35526b;
}

/*text {
  font-family: "RamaGothicM-Heavy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 16rem;
  fill: #1072b8;
}*/
  